*{
    margin: 0;
    padding: 0;
}
header{
    height: 15%;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    
}
.logo{
    padding: 10px;
    height: 50px;
}
.name{
    padding-top: 20px;
    padding-right: 500px;
}
main{
    height: 70%;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}
.box1{
    height: 600px;
    width: 30%;
    border: 3px solid black;
    margin: 10px;
}
.box2{
    height: 600px;
    width: 30%;
    border: 3px solid black;
    margin: 10px;
}
.box3{
    height: 600px;
    width: 30%;
    border: 3px solid black;
    margin: 10px;
}
.heading{
    text-align: center;
}
footer{
    height: 15%;
    width: 100%;
    background-color: brown;
}
.footer-text{
    text-align: center;
}